<?xml version="1.0" encoding="UTF-8"?>
<config>
	<keyboard coin7="0" dash="38" jump="57" moveLeft="0" moveRight="3" respawn="15"/>
	<mouse shoot="0"/>
	<logic coin0="1" coin1="0" coin2="0" coin3="1" coin4="1" coin5="0" coin6="0"/>
	<integer effects="100" frameLimit="60" level="7" music="100"/>
</config>

