<?xml version="1.0" encoding="UTF-8"?>
<config>
	<keyboard dash="38" jump="57" moveLeft="0" moveRight="3" respawn="15"/>
	<mouse shoot="0"/>
	<logic coin0="0" coin1="0" coin10="0" coin11="0" coin2="0" coin3="0" coin4="0" coin5="0" coin6="0" coin7="0" coin8="0" coin9="0"/>
	<integer effects="100" frameLimit="60" level="0" music="100"/>
</config>

